* {
    margin: 0%;
    box-sizing: 0;
    padding: 0%;
}
/* Add a black background color to the top navigation */

.topnav {
  display: flex;
    background-color: rgb(0, 0, 0);
}
  
/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #440399;
    color: white;
}
.css_htmlcode_links {    background-color: rgb(196, 196, 196);
    width: 50%;
    height: 1300px;
}
.css_htmlcode_rechts {
    width: 50%;
    height: 1300%;
}
.center {
    width: 50%;
    margin: 50px;
}

.tab {
    margin-left: 20px; 
}

.tab2 {
  margin-left: 40px;
}

.tab3 {
  margin-left: 60px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {
    background-color: #e7e7e7;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }

.background_blauw {
  background-color: lightblue;
}

.t1_hover_1:hover {
  background-color: blue;
  color: white
}

.t1_hover_2:hover {
  background-color: lightblue;
}


.tabless {
  margin: 20px;
  cursor: pointer;
}

.background_black {
  background-color: black;
}

.background_white {
  background-color: white;
}

.table_butten {
  background-color: white;
  border: white;
}

.t2_hover_1:hover {
  background-color: darkcyan;
  color: white;
}

.t2_hover_2:hover {
  background-color: lightgreen;
}

.ul_1 {
  list-style-type: upper-roman;
  color: black;
}

.li_1_hover:hover {
  background-color: red;
  color: white;
}

.ol_1 {
  list-style-type: circle;
  color: black;
} 

.li_2_hover:hover {
  background-color: darkcyan;
  color: white;
}

.tabRight {
  margin-right: 20px;
}

.lists {
  display: flex;
}

.lists a {
  width: 50%;
  text-decoration: none;
}

.flex {
  display: flex;
}

.text1 {
  width: 100%;
  margin: 8px;
  padding: 8px 15px;
  border: none;
  border-bottom:solid black;
}

.form1 {
  width: 80%;
}

.footer {
  height: 200px;
}

.select {
  width: 100%;
}

.wachtwoord {
  width: 100%;
}

.img1 {
  height: 400px;
  border:10px solid darkcyan;
  background-color: darkcyan;
  border-radius: 10px;
}

.img2 {
  height: 250px;
  border:8px solid darkcyan;
  border-radius: 10px;
}

.img3 {
  height: 100px;
  border:5px solid darkcyan;
  background-color: darkcyan;
  border-radius: 10px;
}

.images {
  align-items: center;
  margin-top: 150px;
  justify-content: space-around;
}